*{
    z-index:0;
}
body {
    width: 600px;
    height: 750px;
    position:absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    width: 100px;
    height: 140px;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    perspective: 1000px;
}

.card_inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card.flipped .card_inner {
    transform: rotateY(180deg);
}

.card_front, .card_back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: solid 1px #999
}

.card_front {
    background: #999;
}

.card_front:hover {
    border: solid 3px rgb(183, 247, 254);
}

.card_back {
    display: flex;
    align-items: center;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    cursor: default;
}

#score {
    font-size: 18px;
    margin-top: 10px;
}

#game_start {
    display: block;
}

#gameover_text {
    width: 500px;
    color: rgba(255, 0, 0, 0.929);
    position: absolute;
    display: block;
    text-align:center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    z-index: 1;
    font:bold;
}

span{
    font-size: 50px;
    display: block;
}

#left {
    display: flex;
    justify-content: right;
    font-size:18px;
}

#count {
    display: flex;
    justify-content: right;
    font-size:18px;
}

#timer {
    display: flex;
    justify-content: left;
    font-size:18px;
}

#wrap {
    display: flex;
    justify-content: space-between;
}