.card {
    width: 100px;
    height: 150px;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    perspective: 1000px;
}

.card_inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card.flipped .card_inner {
    transform: rotateY(180deg);
}

.card_front, .card_back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: solid 1px #999
}

.card_front {
    background: #999;
}

.card_front:hover {
    border: solid 3px red;
}

.card_back {
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

#score {
    font-size: 18px;
    margin-top: 10px;
}