
#game-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3em;
  color: #FFD700;
  text-shadow: 3px 3px #000000;
  text-align: center;
  background-color: #e39734;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#canvas_cover {
  display: flex;
  width: 600px;
  height: 700px;
  position: absolute;
  left: 50%;
  right: 50%;
  top: 20%;
  margin-left: -300px;
}

body {
  background-color: beige;
}
