body {
    background-color:beige;
}

#gameover_text{
    display:flex;
    text-align:center;
    position:absolute;
    top:45%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: bold;
    color: white;
    z-index: 1;
}

#gameCanvas{
    position : absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%);
    z-index: 0;
}

#button-cover {
    width: 600px;
    height: 300px;
    margin: auto;
    display: flex;
}


.button{
    justify-content: center;
    margin: auto;
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid rgb(255, 121, 199);
    border-radius: 0.6em;
    color: rgb(255, 121, 199);
    cursor: pointer;
    display: inline-block;
    width:160px;
    height:70px;
    visibility: hidden;
    font-size: 17px;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.button:hover {
    color: white;
    outline: 0;
    box-shadow: 0 0 40px 40px rgb(255, 121, 199) inset;
}

@font-face {
    src:url("snakegame_font/SnakeDemo-lgEeD.otf");
    font-family:"Snake Outline";
}

h3 {
    font-family:"Snake Outline";
    color:rgba(10, 107, 10, 0.777);
    font-size:70px;
}