body {
  background-color: beige;
}

#gameover_text {
  display: flex;
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: bold;
  color: white;
  z-index: 1;
}

.button {
  position:absolute;
  justify-content: center;
  margin: auto;
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid rgb(255, 121, 199);
  border-radius: 0.6em;
  color: rgb(255, 121, 199);
  cursor: pointer;
  width: 160px;
  height: 70px;
  visibility: hidden;
  font-size: 17px;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.button:hover {
  color: white;
  outline: 0;
  box-shadow: 0 0 40px 40px rgb(255, 121, 199) inset;
}

#gameCanvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

#button-cover {
  width: 600px;
  height: 300px;
  margin:auto;
  display: inline-block;
  z-index: 1;
}


@font-face {
  src: url("snakegame_font/SnakeDemo-lgEeD.otf");
  font-family: "Snake Outline";
}

#title {
  font-family: "Snake Outline";
  color: rgba(10, 107, 10, 0.777);
  font-size: 130px;
  margin-top: -20px;
  display: flex;
  justify-content: center;
}

.highScoresTable {
  border-radius: 15px;
}

#highScoresTable {
  border-collapse: collapse;
}

#highScoresTable th,
#highScoresTable td {
  border: 2px solid black;
  padding: 5px;
  text-align: center;
  width: 200px;
  max-height: 500px;
}
#score {
  border-radius: 15px;
  border: 2px solid black;
  padding: 10px;
  margin-top: 20px;
  /* margin-left: 5px; */
  /* margin-right: 5px; */
  z-index: 3;
  text-align: center;
}

/* animation styles */
@keyframes swipe-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes swipe-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

#game {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: swipe-left 1s forwards;
}

#ranking {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  transform: translateX(100%);
  animation: swipe-right 1s forwards;
  /* other styles for your ranking display */
}

#ranking_box{
  width: 20%;
  z-index: 3;
  display: inline-block;
}


#scoreBox {
  display: flex;
  flex-direction: column;
}
